body{
    background-color:beige;
}
.about .row{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
    align-items:center;
}
.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
  color:var(--black);
  font-size:4rem;
  padding:.5rem 0;  
}

.about .row .content p{
    color:var(--light-color);
    font-size:1.5rem;
    padding:.5rem 0;
    line-height: 2
}

.about .row .content .icons-container{
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
    padding:1rem 0;
    margin-top: .5rem;

}

.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i {
    font-size: 2.5rem;
    color:var(--blue);
}

.about .row .content .icons-container .icons span{
    font-size:1.5rem;
    color:var(--black);
}

.menu .box-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}
.menu .box-container .box{
    background:#fff;
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow:var(--box-shadow);
}

.menu .box-container .box .image{
    height: 25rem;
    width:100%;
    padding:1.5rem;
    overflow:hidden;
}


.menu .box-container .box .image img{
    height:75%;
    width:60%;
    border-radius:.5rem;
}

.menu .box-container .box .image .fa-heart{
    position:absolute;
    top:2.5rem;
    right:2.5rem;
    height:5rem;
    width:5rem;
    line-height:5rem;
    text-align:center;
    font-size:2rem;
    background:#fff;
    border-radius:50%;
    color:var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    background-color:var(--blue);
    color:#fff;
}

.menu .box-container .box .content{
    padding:2rem;
    padding-top:0;
}

.menu .box-container .box .content .stars{
    padding-bottom:1rem;
}

.menu .box-container .box .content .stars i{
    font-size:1.7rem;
    color:var(--blue);
}

.menu .box-container .box .content h3{
   color:var(--black);
   font-size:2.5rem;
}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size:1.6rem;
    padding:5rem 0;
    line-height:1.5;
}

.menu .box-container .box .content .price{
    color:var(--blue);
    margin-left:1rem;
    font-size:2.5rem;
}
*{
    font-family:'Nunito',sans-serif;
    margin:0; 
    padding:0;
    box-sizing:border-box; 
    text-decoration:none;
    outline:none;
    border:none;
    text-transform:capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-padding-top:5.5rem;
    scroll-behavior:smooth;
}

section{
    padding:2rem 9%;
}


.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
  width:40%;
}

.about .row .content{
    flex:1 1 45rem;
}

.btn{
    font-size:28px;
    padding:8px;
    border-radius:10px;
    border:4px double black;
    color:black;
    background-color: aquamarine;

}

.Main-nav{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:aquamarine;
    position:sticky;
    top:0;
}

.Main-nav ul {
display:flex;
list-style:none;
margin:20px 0px;
}

.Main-nav ul li{
    font-family:century;
    font-size:1.1rem;
    font-weight:bold;
}

.Main-nav ul li a {
    text-decoration:none;
    color:black;
    padding:8px 25px;
    transition: all .5s ease;
}
.Main-nav ul li a:hover{
    background-color:white;
    color:black;
    box-shadow:0 0 10px white;
}
footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom:0;
    width: 100%;
    height:20px;
    background-color:aquamarine;
    display:flex;
    text-align:center;
    justify-content:center;
    padding:1.1em;
}



.logo{
    font-size:1.1rem;
    color:var(--text-color);
    font-weight:400;
    font-family:cursive;
}
.order form{
    max-width:90rem;
    border-radius:.5rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    background:#fff;
    padding:1.5rem;
    margin:0 auto;
}

.order form .inputBox .input{
    width:49%;

}
.order form .inputBox .input span{
    display:block;
    padding:.5rem 0;
    font-size:1.5rem;
    color:var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size:1.6rem;
    color:var(--black);
    text-transform:none;
    margin-bottom:1rem;
    width:100%;
}
.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border:.1rem solid var(--blue);
}

.order form .inputBox .input textarea{
    height:20rem;
    resize:none;
}

.order form  .btn{
    margin-top:0;
}


  
  